@media (max-width: 1300px) {
        nav .container .links ul {
                display: none;
        }

        .links .burger {
                display: flex;
        }

        .container {
                width: 90%;
        }

        nav .container .logo {
                width: 20%;
        }

        #about .container {
                flex-wrap: wrap;
        }

        .container .part1 {
                margin-bottom: 60px;
                flex-basis: 100%;
        }

        .container .part2 {
                flex-basis: 100% !important;
        }

        .part2 .row .col {
                width: 100%;

        }

        #service .container {
                justify-content: center;
                align-items: center;


        }

        #service .col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-basis: 80%;
                margin-top: 40px;
        }

        #portfolio .mywork .col {
                width: 80%;
                margin: 10px;


        }

        #blog .container {
                justify-content: center;
                align-items: center;
        }

        #blog .container .item .col {
                width: 80%;


        }
        #contact .container input{
               width: 100% !important;
       }
       footer p{
    font-size: 14px;

 }
}




@media (min-width: 371px) and (max-width: 1300px) {


        nav .container .logo {
                width: 15%;
        }

}

@media (min-width: 577px) and (max-width: 1300px) {
        nav .container .logo {

                width: 12%;
        }

        #service P {
                line-height: 1.5;
        }

        #service .col {
                flex-basis: 40% !important;
        }

       

}

@media (min-width: 769px) and (max-width: 1300px) {

        nav .container .logo {
                width: 10%;
        }

        #about .part1 .item .frame {
                width: 400px;
        }

        #portfolio .mywork .col {
                width: calc(90% / 2);
                margin: 10px;

        }
         #blog .container {
                justify-content: space-between;
                align-items: center;
        }
        #contact .container input:nth-child(1),
#contact .container input:nth-child(2) {
  width: 49% !important;
}
       footer p{
    font-size: 19px !important;

 }

}


@media (min-width: 993px) and (max-width: 1300px) {
        nav .container .links ul {
                display: flex;
        }

        nav .container .logo {
                width: 8%;
        }

        .links .burger {
                display: none;
        }

        .container .part1 {

                flex-basis: 50%;
        }

        .container .part2 {
                flex-basis: 50% !important;

        }

        .part2 .row .col {
                width: 50%;

        }

        #service .col {
                margin-top: 40px;
        }

        #portfolio .mywork .col {
                width: calc(90% / 3);
                margin: 10px;

        }


}

@media (min-width: 1181px) and (max-width: 1300px) {}